html {
	height: 100%;
}

body {
	font: 14px/30px 'Open Sans', sans-serif;
	color: #444;
	-webkit-font-smoothing: antialiased;
	font-smooth: always;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
	margin: 0;
	padding: 0;
	height: 100%;
}

h2 {
	font: 24px/30px 'Droid Serif', serif;
	color: #000;
	margin: 20px 0;
	font-weight: bold;
}

h6 {
	font: 22px/26px 'Droid Serif', serif;
	color: #000;
	border-bottom: 1px dashed #aaa;
	padding: 15px 0;
	margin: 20px 0;
	font-weight: bold;
}

div#container {
	min-height:100%;
	position:relative;
}

div#header {
	background-color: white;
	text-align: center;
	width: 100%;
	position: fixed;
	top: 0;
	padding: 10px 0;
	-webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
}

div#center {
	margin-top: 60px;
	padding-bottom:120px;
}

div#footer {
	font-size: 16px;
	background: #363D42;
	color: #fff;
	text-align: center;
	width: 100%;
	height:80px;
	padding: 20px 0;
	position:absolute;
	bottom:0;
}

.content {
	width: 750px;
	margin: 0 auto;
}

article section p {
	text-align: justify;
	margin-bottom: 24px;
}

article section p a {
	color: inherit;
	font-weight: bold;
	text-decoration: underline;
}

/* ==========================================================================
 HEADER
 ========================================================================== */
#header .title {
	float: left;
	font: 32px/32px 'Copse', serif;
	font-weight: bold;
	margin: 0px;
}
#header .menu {
	float: right;
	font-size: 16px;
	margin: 0px;
	padding: 5px 0;
}
#header .menu li {
	display: inline-block;
	text-align: center;
	list-style-type: none;
	margin-left: 30px;
}
#header .menu li:first-child {
	margin-left: 0;
}
#header .menu li a {
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
}
#header .menu li a:hover{
	color: #F00;
}

/* ==========================================================================
 About me
 ========================================================================== */
.mirko .content {
	padding: 30px 0;
	background: #F7F5F2;
	text-shadow: 1px 1px 0 #ffffff;
}
.mirko section.about {
	text-align: justify;
	width: 600px;
	float: left;
}
.mirko section.about b {
	color: #DB4733;
}
.mirko section.about a {
	color: inherit;
	font-weight: bold;
	text-decoration: underline;
}
.mirko section.about p {
	font: 14px/30px 'Open Sans', sans-serif;
}
.mirko section.photo {
	float: right;
	margin: 40px;
	width: 150px;
}
.mirko .avatar {
	background-image: url(https://en.gravatar.com/userimage/43512809/6d9ede99a9496ecd2c9580eacaecb96f.png?size=150);
	height: 150px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 100px;
}
.mirko .thats-me {
	background-image: url(../images/thats_me.png);
	height: 80px;
}

/* ==========================================================================
 FOOTER
 ========================================================================== */
#footer ul li {
	display: inline-block;
	width: 40px;
}
#footer ul li a {
	color: #fff;
	font-size: 25px;
}
#footer p {
	font: 15px 'Open Sans', sans-serif;
	margin: 10px 0;
}
#footer p a {
	color:inherit;
}