<!-- START FOOTER  -->
<div id="footer">
    <div class="content">
        <div class="contact">
            <a href="http://twitter.com/borivojevic">
                <span class="ss-social-circle ss-twitter" />
                <p>Follow me on Twitter.</p>
            </a>
        </div>
        <div class="contact">
            <a href="http://twitter.com/borivojevic">
                <span class="ss-social-circle ss-octocat" />
                <p>Sneak peak into my codding on Github.</p>
            </a>
        </div>
        <div class="contact">
            <a href="skype:[mirkoborivojevic]?[call]">
                <span class="ss-social-circle ss-skype" />
                <p>Call me on Skype.</p>
            </a>
        </div>
    </div>
    <p>
        &copy; 2013 MIRKO BORIVOJEVIĆ
    </p>
</div>
<!-- END FOOTER -->