<!-- START FOOTER  -->
<div id="footer">
    <span>
        <a href="http://twitter.com/borivojevic">
            <span class="ss-social-circle ss-octocat" />
            <div>Sneak peak into my codding on Github.</div>
        </a>
    </span>
    <span>
        <a href="http://twitter.com/borivojevic">
            <span class="ss-social-circle ss-twitter" />
            <div>Follow me on Twitter.</div>
        </a>
    </span>
    <span>
        <a href="skype:[mirkoborivojevic]?[call]">
            <span class="ss-social-circle ss-skype" />
            <div>Call me on Skype.</div>
        </a>
    </span>
    <p>
        &copy; 2013 MIRKO BORIVOJEVIĆ
    </p>
</div>
<!-- END FOOTER -->