<!-- START FOOTER  -->
<div id="footer">
    <div class="content">
        <ul>
            <li><a class="ss-octocat ss-social-circle" href="https://github.com/borivojevic"></a></li>
            <li><a class="ss-twitter ss-social-circle" href="http://twitter.com/borivojevic"></a></li>
            <li><a class="ss-skype ss-social-circle" href="skype:[mirkoborivojevic]?[call]"></a></li>
            <li><a class="ss-facebook ss-social-circle" href="https://facebook.com/borivojevic"></a></li>
        </ul>
        <section class="copyright">© 2012 <a href="http://mirkoborivojevic.com" target="_blank">mirkoborivojevic.com</a> </p>
    </div>
</div>
<!-- END FOOTER -->