<section>
    <h1>What people I enjoy working with say about me</h1>
    <div id="anthony-avatar"></div>
    <p class="testimonial">"Mirko’s worked with us for over two years providing in depth insight to web based programming technologies such as CakePHP, JQuery, GIT, various API’s, and much more.  He’s able to quickly specify a project from either technical or business requirements, find or imagine solutions, and then implement those solutions chosen.  The programming foundations he lays are robust and extensible which is a great boon allowing us to work in an agile manner given ever changing business requirements.  I also look forward to continuing our work together given his consistently professional and positive demeanor."</p>
    <p><b>-- Anthony Ryan-Lorraine</b> - Founder &amp; CEO, <a href="http://anthonysweb.com">Anthony's Web LLC</a></p>

    <div id="tom-avatar"></div>
    <p class="testimonial">"Mirko has been a key asset and resource in our outsource and overseas development strategy, he is a very talented developer. His skill capabilities to take a business concept and translate into a technical road-map through development and production has been a great advantage for our organization in taking a product to market. Personally speaking, I consider Mirko a friend and very much enjoy working with him...and look forward to ongoing development projects."</p>

    <p><b>-- Tom Contreras</b> - Founder &amp; CEO Go Swift Sports Inc, COO The San Francisco Marathon</p>
</section>