<!-- START TITLE  -->
<div class="mirko">
    <div class="content">
        <section class='about'>
            <h2>Hello, I'm Mirko</h2>
            <p>
                I'm <b>full time</b> <b>independent</b> <b>contractor</b> specialized in web development. For the past 7 years I’ve been handcrafting web applications, mostly using <b>CakePHP</b> and <b>JavaScript</b>.<br>
            <p>
                After years of practice and dozen of mid-to-large sized web project I adopted skills needed in different phases of software development process. Thus I'm able to <b>plan</b>, <b>estimate</b>, <b>manage</b>, <b>develop</b>, <b>deploy</b> and finally <b>monitor</b> and <b>maintain</b> web application and underlying software stack.<br>
            </p>
            <p>
                Today I’m fully focused on helping web development and design shops, statups and creative and interactive agencies by building custom web solutions. I'm currently <b>available for hire</b> so <a href="contact.html">let's schedule</a> a time to chat about your project and to get know each other better.
            </p>
        </section>
        <section class="photo">
            <div class="avatar"></div>
            <div class="thats-me"></div>
        </section>
        <div class="clear">&nbsp;</div>
    </div>
</div>
<!-- END TITLE -->